body {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.container {
    display: flex;
    flex: row;
    background-color: white;
    border-radius: 30px;
}

.result {
    background: linear-gradient(#4936f2d3, #4936f2);
    border-radius: 30px;
    color: white;
    width: 300px;
    height: 420px;
    padding: 10px;
    display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

img{
    height: 150px;
    width: 150px;
    }

.summary {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 300px;
    height: 420px;
    margin-left: 25px;
    margin-right: 20px;
}

.reaction {
    background-color: #c4929046;
    color: #dc696c;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;}

.memory {
    background-color: #fffcc26c;
    color: #f2ba52;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;}

.verbal {
    background-color: #cafefa71;
    color: #66b8a4;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;}

.visual {
    background-color: #d1dcfb63;
    color: #373dc4;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;}

button {
    background-color: #303b59;
    border-radius: 30px;
    width: 250px;
    height: 45px;
    color: white;
    margin: auto;
    display: block;
    margin-top: 10px;}
    

.textgray {
    color: rgb(154, 148, 148);
    margin-top: 40px;}


.titlegray {
    color: rgb(203, 202, 202);}

.titlesummary {
    padding: 10px;}

.numbercolor {
    color: black;
    margin-right: 15px;}